* {
    font-family: Tahoma;
}
header, footer {
    background-color: Maroon;
    color: white;
    padding: 10px;
}
#left, #right {
    width: 50%;
    height: 500px;
    float: left;
}

#left {
    background-color: LightSalmon;
}

#right {
    background-color: DarkSalmon;
}

h1, h2, h3 {
    text-align: center;
}


table, th, td {
    border: 1px solid Maroon;
}


table {
    width: 85%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

ol {
    list-style-type: none;
}

button {
    background-color: Maroon;
    color: white;
    margin-left: 20px;
    padding: 10px;
    border: none;
    border-radius: 20px;
}

button:hover {
    background-color: white;
    color: Maroon;
}
